<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br /><br />
<h1>Spring Boot file upload example</h1>
<form method="POST" action="/add" th:object="${message}"
      enctype="multipart/form-data">
    Content: <input type="text" th:field="*{content}" />
    Posteddate: <input type="text" th:field="*{posteddate}" />
    <input type="file" name="file" /><br/><br/><input type="submit" value="Submit" />
</form>
</body>
</html>